@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    font-family: 'Roboto Slab', serif;
}

body{
    background: rgb(165,172,144);
    background: linear-gradient(0deg, rgba(165,172,144,1) 0%, rgba(220,233,189,1) 59%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

.title{
    display:flex;
    justify-content: center;
    font-size: 3vh;
    margin: 20px 0px;
}

.rod{
    display:flex;
}

.rod2{
    display:flex;
}

.ndrow{
    display:flex;
    justify-content: center;
    gap:30px;
    padding:15px 0px;
}

#formcontent{
    display:grid;
    grid-template-rows: repeat(3,1fr) 2fr;
    grid-template-columns: 1fr 2fr;
    flex-direction: column;
    row-gap:12px;
    column-gap:30px;
}

label{
    display:flex;
    align-items: center;
    justify-content: left;
}

button#newbook, button#libdis {
    background-color: #DBDFAA;
    border: 1px solid gray;
    border-radius: 3px;
   
}

button#newbook:hover, button#libdis:hover{
    background-color:#B3C890;
}

#radid{
   grid-area: 4/1/5/3;
   display:grid;
   grid-template-columns: 1fr 2fr;
   column-gap:30px;
}

#spacebutton{
    display:flex;
    flex-direction: column;
}


span.close{
    display:flex;
    border: 1px solid black;
    height:15px;
    width:15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div#myModal{
    background-color: #eef1d6;
    position:absolute;
    border: 1px solid black;
    padding:15px;
    left: 50%;
    top: 50%;
    border-radius: 15px;
    transform: translate(-50%, -70%);
    opacity:1;
    transition: transform 0.3s ease-in-out;
}

div.backmodal{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

form{
    display:flex;
    flex-direction: column;
}

h3{
    display:flex;
    justify-content: center;
    align-items: center;
}